frontend/components/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://sitronicsts.com/MessagingGateway"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  targetNamespace="http://sitronicsts.com/MessagingGateway"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
>
	<wsdl:types>
		<s:schema elementFormDefault="qualified" targetNamespace="http://sitronicsts.com/MessagingGateway">
			<s:element name="InvokeMethod">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Methodname" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="MethodParams" type="tns:ArrayOfDictionaryItem"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:complexType name="ArrayOfDictionaryItem">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="unbounded" name="DictionaryItem" type="tns:DictionaryItem"/>
				</s:sequence>
			</s:complexType>
			<s:complexType name="DictionaryItem">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string"/>
					<s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string"/>
				</s:sequence>
			</s:complexType>
			<s:element name="InvokeMethodResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="InvokeMethodResult"
						           type="tns:ArrayOfDictionaryItem"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="InvokeMethodPlain">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Methodname" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="StringOfParams" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="InvokeMethodPlainResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="InvokeMethodPlainResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="InvokeMethodViaHttp">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Methodname" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="StringOfParams" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="InvokeMethodViaHttpResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="InvokeMethodViaHttpResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="TestMethod">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="Methodname" type="s:string"/>
						<s:element minOccurs="0" maxOccurs="1" name="StringOfParams" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
			<s:element name="TestMethodResponse">
				<s:complexType>
					<s:sequence>
						<s:element minOccurs="0" maxOccurs="1" name="TestMethodResult" type="s:string"/>
					</s:sequence>
				</s:complexType>
			</s:element>
		</s:schema>
	</wsdl:types>
	<wsdl:message name="InvokeMethodSoapIn">
		<wsdl:part name="parameters" element="tns:InvokeMethod"/>
	</wsdl:message>
	<wsdl:message name="InvokeMethodSoapOut">
		<wsdl:part name="parameters" element="tns:InvokeMethodResponse"/>
	</wsdl:message>
	<wsdl:message name="InvokeMethodPlainSoapIn">
		<wsdl:part name="parameters" element="tns:InvokeMethodPlain"/>
	</wsdl:message>
	<wsdl:message name="InvokeMethodPlainSoapOut">
		<wsdl:part name="parameters" element="tns:InvokeMethodPlainResponse"/>
	</wsdl:message>
	<wsdl:message name="InvokeMethodViaHttpSoapIn">
		<wsdl:part name="parameters" element="tns:InvokeMethodViaHttp"/>
	</wsdl:message>
	<wsdl:message name="InvokeMethodViaHttpSoapOut">
		<wsdl:part name="parameters" element="tns:InvokeMethodViaHttpResponse"/>
	</wsdl:message>
	<wsdl:message name="TestMethodSoapIn">
		<wsdl:part name="parameters" element="tns:TestMethod"/>
	</wsdl:message>
	<wsdl:message name="TestMethodSoapOut">
		<wsdl:part name="parameters" element="tns:TestMethodResponse"/>
	</wsdl:message>
	<wsdl:portType name="WebAdapterSoap">
		<wsdl:operation name="InvokeMethod">
			<wsdl:input message="tns:InvokeMethodSoapIn"/>
			<wsdl:output message="tns:InvokeMethodSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="InvokeMethodPlain">
			<wsdl:input message="tns:InvokeMethodPlainSoapIn"/>
			<wsdl:output message="tns:InvokeMethodPlainSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="InvokeMethodViaHttp">
			<wsdl:input message="tns:InvokeMethodViaHttpSoapIn"/>
			<wsdl:output message="tns:InvokeMethodViaHttpSoapOut"/>
		</wsdl:operation>
		<wsdl:operation name="TestMethod">
			<wsdl:input message="tns:TestMethodSoapIn"/>
			<wsdl:output message="tns:TestMethodSoapOut"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WebAdapterSoap" type="tns:WebAdapterSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="InvokeMethod">
			<soap:operation soapAction="http://sitronicsts.com/MessagingGateway/InvokeMethod" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InvokeMethodPlain">
			<soap:operation soapAction="http://sitronicsts.com/MessagingGateway/InvokeMethodPlain" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InvokeMethodViaHttp">
			<soap:operation soapAction="http://sitronicsts.com/MessagingGateway/InvokeMethodViaHttp" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TestMethod">
			<soap:operation soapAction="http://sitronicsts.com/MessagingGateway/TestMethod" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="WebAdapterSoap12" type="tns:WebAdapterSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="InvokeMethod">
			<soap12:operation soapAction="http://sitronicsts.com/MessagingGateway/InvokeMethod" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InvokeMethodPlain">
			<soap12:operation soapAction="http://sitronicsts.com/MessagingGateway/InvokeMethodPlain" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="InvokeMethodViaHttp">
			<soap12:operation soapAction="http://sitronicsts.com/MessagingGateway/InvokeMethodViaHttp"
			                  style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TestMethod">
			<soap12:operation soapAction="http://sitronicsts.com/MessagingGateway/TestMethod" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WebAdapter">
		<wsdl:port name="WebAdapterSoap" binding="tns:WebAdapterSoap">
			<soap:address location="http://10.128.220.1/webadapter/Service.asmx"/>
		</wsdl:port>
		<wsdl:port name="WebAdapterSoap12" binding="tns:WebAdapterSoap12">
			<soap12:address location="http://10.128.220.1/webadapter/Service.asmx"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>